/FrienDB-Client/build/
/FrienDB-Client/dist/
/FrienDB-Client/nbproject/private/
/FrienDB-Server/nbproject/private/
/FrienDB-Server/build/
/FrienDB-Server/target/
/FrienDB-Shared/target/
/HTMLEditorApp/nbproject/private/
/HTMLEditorApp/dist/
/HTMLEditorApp/build/
/WebViewBrowser/nbproject/private/
/WebViewBrowser/build/
/WebViewBrowser/dist/
/ColorPicker/nbproject/private/
/ColorPicker/build/
/ColorPicker/dist/
FrienDB-Client/src/friendb/client/view/ManageCustomerInfo.fxml
